* {
    font-family: 'Roboto', 'sans-serif';
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #03045e;
    color:rgb(255, 252, 248);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.header h3 {
    text-shadow: 2px 2px 10px white;
}

#ImgTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
}

img {
    border-radius: 10px;
    border: 1px solid;
    margin: 5px 0px;
    box-shadow: 2px 2px 5px black;
}

@media(min-width : 600px) {
    .img-container {
        gap: 15px;
    }
}

#ErrorTab {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#generateBtn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #caf0f8;
    border: 1px solid #03045e;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    transition: all 100ms ease;
}

#generateBtn:hover {
    background-color: #90e0ef;
    transform: scale(1.1);
}

.footer{
    background-color: #03045e;
    color:rgb(255, 252, 248);
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.footer p {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 8px white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}